@{
    ViewBag.Title = "Posts";
}
<br />
<br />
<br />
<br />
<br />
<br />

<div style="text-align:center;">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fduzanibh%2F&tabs=timeline&width=500&height=3500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="3500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <iframe src="http://www.duzani.com.br/instagram.html" width="500" height="3507" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>