@{
    ViewBag.Title = "Consultoras";
}

<br />
<br />
<br />
<br />
<br />
<h3>Encontre uma consultora perto de você:</h3>

<br />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="text-align:center;">
    <div class="row" style="text-align:center;">
        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px;">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://scontent.fplu3-1.fna.fbcdn.net/v/t1.0-9/18010361_489176921206511_2387011059869535365_n.jpg?oh=6658d9f5280347068c22c172f81fd565&oe=5A521511" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Detalhes de Alice</h3>
                    <div class="desc">Bairro Nova Granada e região</div>
                    <div class="desc">(31) 9 9495-9478</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531994959478" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-primary btn-lg" rel="publisher" href="https://www.facebook.com/DetalhesDeAlice/" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-danger btn-lg" rel="publisher" href="https://www.instagram.com/explore/tags/detalhesdealice/" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <br/>
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://scontent.fplu3-1.fna.fbcdn.net/v/t1.0-9/15094345_1181348835263608_5721127438388436193_n.jpg?oh=e38bb091bf9e45745ad545bf5e8e0c49&oe=5A5D94E7" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Ana Cláudia</h3>
                    <div class="desc">Bairro Jaraguá e região</div>
                    <div class="desc">(31) 9 9424-1476</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531994241476" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-primary btn-lg" rel="publisher" href="https://www.facebook.com/anaclaudia.vieira.3110" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://i.imgur.com/qaJ9QBJ.jpg" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Fabiane Maria</h3>
                    <div class="desc">Contagem - MG</div>
                    <div class="desc">(31) 9 9691-4091</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531996914091" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://i.imgur.com/LkEQYi2.jpg" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Jandira Borges</h3>
                    <div class="desc">Igarapé - MG</div>
                    <div class="desc">(31) 9 9251-1717</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531992511717" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://scontent.fplu3-1.fna.fbcdn.net/v/t1.0-9/14520378_10154610912892082_842126763760645473_n.jpg?oh=55e7b955bf9e5ec84323d95a3e6fd8b5&oe=5A47D5E6" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Katirina Angelim</h3>
                    <div class="desc">Bahia</div>
                    <div class="desc">(73) 9 9106-4162</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5573991064162" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-primary btn-lg" rel="publisher" href="https://www.facebook.com/katiangelim" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://i.imgur.com/zwlCWKR.jpg" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Viviane Fernandes</h3>
                    <div class="desc">Morada de  Minas - MG</div>
                    <div class="desc">(32) 9 9805-3395</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531998053395" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://scontent.fplu3-1.fna.fbcdn.net/v/t1.0-9/21105867_252220671965764_6758628376571546680_n.jpg?oh=ea7bc166f58637207fd1af0782df6d87&oe=5A4FB7F5" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Rogéria</h3>
                    <div class="desc">Viçosa - MG</div>
                    <div class="desc">(34) 9 9928-1674</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531999281674" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-primary btn-lg" rel="publisher" href="https://www.facebook.com/duzanivicosamg/" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-danger btn-lg" rel="publisher" href="https://www.instagram.com/explore/tags/cintia_duzanilangerie/" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://scontent.fplu3-1.fna.fbcdn.net/v/t1.0-9/21105867_252220671965764_6758628376571546680_n.jpg?oh=ea7bc166f58637207fd1af0782df6d87&oe=5A4FB7F5" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Cíntia</h3>
                    <div class="desc">Belo Horizonte</div>
                    <div class="desc">(31) 9 8306-4212</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531983064212" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-primary btn-lg" rel="publisher" href="https://www.facebook.com/duzanicintiabh/" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-3" style="background-color: #EEF; margin:10px; max-width:300px">
            <div class="card hovercard" style="position: relative; padding-top: 0; overflow: hidden; text-align: center; background-color: rgba(214, 224, 226, 0.2);">
                <div class="cardheader" style="background: url('https://goo.gl/9GKKhE'); background-size: cover; height: 135px;">
                </div>
                <div class="avatar">
                    <img alt="" src="https://i.imgur.com/FnbfrqI.jpg" style="width: 150px; height: 150px; max-width: 150px; max-height: 150px; -webkit-border-radius: 50%; -moz-border-radius: 50%;  border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); position: relative; top: -75px; margin-bottom: -75px;">
                </div>
                <div class="info">
                    <h3>Laura</h3>
                    <div class="desc">Belo Horizonte</div>
                    <div class="desc">(31) 9 9271-1823</div>
                </div>
                <div class="bottom">
                    <br />
                    <a class="btn btn-success btn-lg" rel="publisher" href="tel:+5531992711823" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-primary btn-lg" rel="publisher" href="https://www.facebook.com/RD-Lingerie-463148300438128/" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-danger btn-lg" rel="publisher" href="https://www.instagram.com/explore/tags/rdlingerie16/" style="border-radius: 50%; width: 50px; height: 50px; line-height: 28px;">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>


        </div>
    </div>
</div>

<br />
<br />
<!-- Add icon library -->
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <img src="img.jpg" alt="John" style="width:100%">
    <div class="container">
        <h1>John Doe</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
    </div>
</div-->